#food-img {
  border-radius: 5px;
  margin-top: 10px;
}

#food-img img {
  border-radius: 5px;
  align-self: flex-start;
  object-fit: cover;
}

.modal-body {
  align-items: center;
  background-color: #798b7c6c;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border: none;
  padding: 0;
}

.food-card {
  margin: 30px;
  border: 2px solid rgb(66, 102, 77);
  background-color: rgba(115, 190, 131, 0.452) !important;
}

.main-color {
  margin: 30px;
  border: 2px solid rgb(109, 110, 110);
  background-color: rgba(168, 168, 168, 0.719) !important;
  opacity: 0.6;
}

.modal-header.modal-header{
  background-color: #798b7c6c;
  color: rgb(51, 83, 68);
  display: flex;
  border: none;
  justify-content: space-between;
  padding-left: 30px;
}

.modal-footer.modal-footer{
  background-color: #798b7c6c;
  display: flex;
  border: none;
  justify-content: space-between;
}

.item-in-basket {
  position: absolute;
  margin-top: 25%;
  right: 2%;
  color: #fff;
  border-radius: 50%;
  padding: 5px 5px;
  font-size: 24px;
  text-transform: uppercase;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  transform: rotate(-18deg);
}
