.product-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 90%; 
    max-width: 800px;
    height: auto; 
    max-height: 90vh;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    overflow-y: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #888;
    transition: color 0.3s ease-in-out;
}

.close-button:hover {
    color: #555;
}

.product-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid rgb(84, 133, 109);
}

.product-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity, .price, .button-login, .button-add-to-basket, .button-show-in-basket {
    display: inline-block;
    background-color: rgb(84, 133, 109);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #f3ecec;
    margin: 10px 0;
    text-align: center;
    white-space: nowrap;
    width: 80%;
    transition: opacity 0.3s ease-in-out;
}

.button-show-in-basket:disabled {
    background-color: rgb(160, 160, 160);
    color: rgba(243, 236, 236, 0.5);
    opacity: 0.5;
}

.quantity, .price {
    background-color: rgb(84, 133, 109);
}

.button-login {
    background-color: rgb(57, 90, 74);
}

.button-login:hover, .button-add-to-basket:hover {
    opacity: 0.8;
}

.description {
    word-wrap: break-word;
    white-space: pre-wrap;
    text-align: left;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(51, 83, 68);
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
}

.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
