.search-container {
    position: relative;
    width: 100%;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%;
    min-width: 300px;
    max-height: 400px;
    overflow-y: auto;
}

input[type="search"] {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.2s;
}

.search-result-item:hover {
    background-color: #f9f9f9;
}

.search-result-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 15px;
    border: 1px solid #ddd;
}

.search-result-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.search-result-details h5 {
    margin: 0;
    font-size: 1.1rem;
    color: #333;
}

.search-result-details p {
    margin: 4px 0;
    font-size: 0.9rem;
    color: #666;
}

.search-result-buttons {
    display: flex;
    margin-top: 8px;
}

.search-result-buttons .btn {
    border-radius: 4px;
    font-size: 0.85rem;
}

.search-result-buttons .btn + .btn {
    margin-left: 8px;
}

.close-results {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
    background-color: #f8f8f8;
}

.close-results .btn {
    border-radius: 4px;
    font-size: 0.9rem;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
