<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="content">
                <p>Hi {{ user.name }},</p>
                <p>You're receiving this email because you requested a password reset for your user account.</p>
                <p>Please go to the following page and choose a new password:</p>
                <p>
                    <a href="{{ reset_url }}" class="button">Reset Password</a>
                </p>
                <p>Thanks for using our shop!</p>
            </div>
        </div>
    </body>
</html>
