<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body {
                font-family: 'Arial', sans-serif;
                background-color: #f8f9fa;
            }
            header {
                background-color: #343a40;
                padding: 10px 0;
            }
            header nav a {
                color: #ffffff;
                text-decoration: none;
                padding: 15px 20px;
                display: inline-block;
            }
            header nav a:hover {
                background-color: #495057;
            }
            main {
                padding: 20px;
            }
            .custom-nav-tabs {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                border-bottom: none;
                padding: 0;
                margin: 0;
            }

            .custom-nav-tabs .nav-item {
                flex: 1;
                text-align: center;
                list-style: none;
            }

            .custom-nav-tabs .nav-link {
                color: #495057;
                background-color: #f8f9fa;
                border: none;
                font-weight: bold;
                padding: 10px;
                border-radius: 5px;
                transition: background-color 0.3s, color 0.3s;
                display: block;
            }

            .custom-nav-tabs .nav-link.active {
                background-color: #343a40;
                color: #ffffff;
            }

            .custom-nav-tabs .nav-link:hover {
                background-color: #495057;
                color: #ffffff;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const filterButton = document.getElementById('apply-filter');
                const loadMoreButton = document.getElementById('load-more');
                const statusFilter = document.getElementById('status-filter');
                const sortFilter = document.getElementById('sort-filter');

                filterButton.addEventListener('click', function() {
                    const selectedStatus = statusFilter.value;
                    const selectedSortField = sortFilter.value;
                    const url = new URL("{% url 'seller_dashboard:dashboard' %}", window.location.origin);

                    if (selectedStatus !== "all")  url.searchParams.set('status', selectedStatus);
                    if (selectedSortField !== "") url.searchParams.set('sort', selectedSortField);

                    htmx.ajax('GET', url.toString(), {target: '.orders-list'});
                });
            });
        </script>
    </head>
    <body>
        <header>
            <nav class="container">
                <a href="http://{{ FRONTEND_HOST }}">Home</a>
                <a href="{% url 'seller_dashboard:dashboard' %}">Dashboard</a>
                {% if user.is_authenticated and user.is_superuser %}
                    <a href="{% url 'admin:index' %}">Admin Panel</a>
                {% endif %}
            </nav>
        </header>
        <main class="container">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
