{% extends 'seller_dashboard/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Dashboard</h1>
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label for="status-filter" class="form-label mb-1">Status</label>
                        <select id="status-filter" class="form-select">
                            <option value="all">All</option>
                            <option value="in_progress">In Progress</option>
                            <option value="paid">Paid</option>
                            <option value="completed">Completed</option>
                            <option value="canceled">Canceled</option>
                        </select>
                        <label for="sort-filter" class="form-label mb-1">Sort by</label>
                        <select id="sort-filter" class="form-select">
                            <option value="" selected>-----</option>
                            <option value="buyer_name">Buyer</option>
                            <option value="created_at">Created At</option>
                            <option value="payment_at">Payment At</option>
                            <option value="total">Total</option>
                        </select>
                        <button type="button" id="apply-filter" class="btn btn-primary">Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div hx-trigger="load">
        {% include 'seller_dashboard/orders_list_base.html' %}
    </div>
</div>

<!-- Modal window for order details -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="orderModalLabel">Order Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="order-details">
            </div>
        </div>
    </div>
</div>

{% endblock %}

