<div>
    <p>Order ID: <b>{{ order.id | truncatechars:10 }}</b></p>
    <p>Status: <b>{{ order.get_status_display }}</b></p>
    <p>Total: <b>{{ order.total | default:"-" }}</b></p>
    <p>Created at: <b>{{ order.created_at }}</b></p>
    <p>Payment at: <b>{{ order.payment_at | default:"-" }}</b></p>
    </br>
    <h5>Buyer details</h5>
    <p>Name: {{ order.buyer_name }}</p>
    <p>Email: {{ order.buyer_email }}</p>
    <p>Phone: {{ order.phone }}</p>
    <p>Address: {{ order.delivery_address }}</p>
    </br>
    <h5>Delivery Time</h5>
    <p>{{ order.delivery_date|default:"-" }} at {{ order.delivery_time|default:"-" }}</p>
    </br>
    <h5>Products included in the order</h5>
    <table border="1" cellpadding="10" cellspacing="0" width="100%">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Amount</th>
        </tr>
        {% for product in order.products %}
            <tr>
                <td>{{ product.id | truncatechars:7 }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.amount }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
