<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Buyer</th>
            <th scope="col">Created At</th>
            <th scope="col">Payment At</th>
            <th scope="col">Total</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody class="orders-list">
        {% include 'seller_dashboard/orders_list_data.html' %}
    </tbody>
</table>

<!-- Pagination -->
{% if page_obj.has_next %}
<div class="d-flex justify-content-center mt-4">
    <button id="load-more" class="btn btn-primary"
        hx-get="?page={{ page_obj.next_page_number }}"
        hx-target=".orders-list" hx-swap="beforeend"
        hx-on="htmx:afterRequest: this.remove()"
    >
        Load more
    </button>
</div>
{% endif %}
