{% for order in orders %}
<tr 
    hx-get="{% url 'seller_dashboard:order_detail' order.id %}"
    hx-trigger="click"
    hx-target="#order-details"
    hx-swap="innerHTML"
    data-toggle="modal"
    data-target="#orderModal"
>
    <td>{{ order.buyer_name }}</td>
    <td>{{ order.created_at }}</td>
    <td>{{ order.payment_at | default:"-" }}</td>
    <td>{{ order.total | default:"-" }}</td>
    <td>{{ order.get_status_display }}</td>
</tr>
{% endfor %}
