#nav {
  background-color: rgb(65, 114, 90);
}

#user {
  color: rgb(29, 39, 34);
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1.1rem;
  margin-top: 3%;
  margin-right: 10%;
}

#register {
  margin-left: 3%;
}

.profile-link {
  background-color: transparent;
  border: none;
  color: #90e2ec;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  font: inherit;
  margin: 0;
  display: inline;
}

.profile-link:hover {
  text-decoration: underline;
}

.nav-link {
  border: none;
  background: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 15px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

button {
  margin-right: 10px;
  transition: all 0.3s ease;
}

button:focus {
  outline: none;
}

button.nav-link {
  padding: 0;
}

button.nav-link:hover {
  background: none;
}

button.nav-link:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.nav-link.active {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
