.basket-modal {
    position: fixed;
    z-index: 50;
    min-width: 50%;
    max-width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(122, 155, 139);
    padding: 10px;
    border: 2px solid #3b6b59;
    border-radius: 5px;
    cursor: pointer;
}

.red-text{
    text-align: center;
}

#btnclose {
    position: fixed;
    top: 10px;
    right: 10px;
}

.basket-modal .table {
    background-color: transparent;
    background-color: rgb(122, 155, 139);
}

.basket-modal .table td,
.basket-modal .table th {
    border-color: #3b6b59;
    background-color: transparent;
}
