.basket-icon {
  position: fixed;
  right: 2%;
  top: 12%;
  cursor: pointer;
  font-size: 1.5rem;
  filter: brightness(1.2);
}

.basket-button {
  position: relative;
}

.basket-count {
  position: absolute;
  top: -10px;
  left: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgb(43, 63, 54);
  color: white;
  font-size: 15px;
  border-radius: 50%;
}
