.order-heading {
    text-align: center;
    margin: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.shipping-info-container {
    display: flex;
    flex-direction: column;
    border: 2px solid hsl(127, 40%, 32%);
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.shipping-info-title {
    margin-top: 20px;
}

.form-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.completed {
    background-color: rgba(52, 119, 52, 0.555);
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
}

.paid {
    background-color: rgba(16, 134, 170, 0.459);
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
}

.canceled {
    background-color: rgba(121, 121, 121, 0.753);
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
}
